* {-webkit-tap-highlight-color: transparent;outline: none;}
body {
  margin: 0;
  font-family: "Arial", sans-serif;
  color: white;
  background: #000;
  overflow-x: hidden;
  position: relative;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1002;
  background: #f2f2f2;
}
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 0px 10px;
  font-weight: bold;
  font-size: 10px;
  color: #000000;
  border-bottom: 1px solid #ccc;
}
.icon-img {
  width: 28px;
  height: 28px;
  margin-right: 12px;
  border-radius: 50px;
}
.hero {
  background: url("img/datallain.png") center/cover no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  transition: opacity 0.8s ease-in-out;
  filter: blur(5px);
  pointer-events: none;
}
.overlay {
  
  z-index: 2;
  padding: 60px 20px 10px;
  background: rgba(0, 0, 0, 0.4);
  min-height: 100vh;
  overflow-y: auto;
}
.mod-card {
  position: relative;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 10px;
  overflow: hidden;
  height: 60px;
  max-width: 350px;
  margin: 7px auto;
  border: 2px solid;
  cursor: pointer;
}
.mod-card img.bg {
  width: 100%;
  display: block;
}
.mod-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 75px 10px 10px;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
  display: flex;
  align-items: center;
  gap: 5px;
  box-sizing: border-box;
}
.mod-mini {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  flex-shrink: 0;
  border: 2px solid;
  box-sizing: border-box;
}
.mod-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: inherit;
}
.mod-title {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mod-desc {
  font-size: 10px;
  color: #fff;
  margin-top: -2px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.mod-champion-note {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: -2px;
}
.label {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #00ffd0;
  color: black;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 5px;
  font-weight: bold;
}
.download-container {
  position: absolute;
  bottom: 16px;
  right: 7px;
  z-index: 50;
}
.download-btn-main {
  color: #000 !important;
  padding: 5px 15px;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: all 1s ease;
  white-space: nowrap;
  display: inline-block;
  opacity: 1;
} 